body{
    background-color: #2b2d42;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 100%;
    text-align: center;
    font-size: 1.4rem;
}

.column{
    grid-column: span 1;
    border: 2px solid #8d99ae;
    border-radius: 2px;
    margin: 10px;
    background-color: #edf2f4;
    height: 300px;
    -webkit-transition :  750ms ease-out;
    -moz-transition :  750ms ease-out;
    -o-transition :  750ms ease-out;
    transition :  750ms ease-out;
}

.column:hover{
    background-color: #f8ffff;
    border-color: #ef233c;
}

.facebook{
    color: #3b5998;
}

.youtube{
    color: #ff0012;
}

.google{
    color: #008744;
}

.netflix{
    color: #b9090b;
}

.baseball{
    color: #33323d;
}

.box{
    color: #af2121;
}

a{
    text-decoration: none;
}

.fab, .fas{
    font-size: 6rem;
}